

/* HSL */
$color1: hsla(360%, 83%, 65%, 1);
$color2: hsla(188%, 83%, 67%, 1);
$color3: hsla(56%, 100%, 82%, 1);
$color4: hsla(0%, 0%, 100%, 1);
$color5: hsla(167%, 43%, 76%, 1);

/* RGB */
$color1: rgba(240, 93, 94, 1);
$color2: rgba(101, 222, 241, 1);
$color3: rgba(255, 249, 165, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(168, 220, 209, 1);